<div class="ui container" >
    <div class="ui horizontal segments">
        <a routerLink="/element" class="ui segment">Element</a>
    
        <a routerLink="/collection" class="ui segment">Collection</a>     
    
        <a routerLink="/view" class="ui segment">View</a>     
  
        <a routerLink="/mods" class="ui segment">Mod</a> 
        
        <a routerLink="/wiki" class="ui segment">WikiSearch</a>

        <a routerLink="/photo" class="ui segment">Photo Generator</a>
    </div>
    
    <div class="ui horizontal segment">
        <router-outlet></router-outlet>
    </div>
</div>