<div class="ui grid">
    <div class="four wide column">
      <div class="ui vertical fluid tabular menu">
        <a routerLink="./" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="item">
          Biography
        </a>
        <a routerLink="companie" routerLinkActive="active"  class="item">
         Companies
        </a>
        <a routerLink="partner" routerLinkActive="active"  class="item">
          Partner
        </a>
      </div>
    </div>
    <div class="twelve wide stretched column">
      <div class="ui segment">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
