<app-divider>Placeholder</app-divider>
<app-placeholder *appTimes="12"></app-placeholder><br>

<app-divider>Segement</app-divider>
<app-segement>
    <header>
        <i class="pdf file outline icon"></i>
        No documents are listed for this customer.
    </header>
      <div class="ui primary button">Add Document</div>
</app-segement>

<app-segement>
    <header>
        <i class="blind icon"></i>
        Donate here.
    </header>
      <div class="ui red button">Donate here</div>
</app-segement>
